<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <connectionStrings>
    <add name="DBA" connectionString="Data Source={DataSource};Initial Catalog={DBA};User ID={UserID};Password={Password}" providerName="System.Data.SqlClient" />
    <add name="DBB" connectionString="Data Source={DataSource};Initial Catalog={DBB};User ID={UserID};Password={Password}" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>