<?xml version="1.0"?>
<!-- For more information on using app.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<!-- In case configuration is not the root element, replace it with root element in source configuration file -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="DBA"
         connectionString="Data Source={DataSource};Initial Catalog=DBA_Production;User ID={UserID};Password={Password}"
         xdt:Transform="SetAttributes"
         xdt:Locator="Match(name)" />
    <add name="DBB"
         connectionString="Data Source={DataSource};Initial Catalog=DBB_Production;User ID={UserID};Password={Password}"
         xdt:Transform="SetAttributes"
         xdt:Locator="Match(name)" />
  </connectionStrings>
</configuration>