@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>List</title>
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.6/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/semantic-ui/2.2.6/semantic.min.js"></script>
</head>
<body>
<div style="width: 800px;">
    <table class="ui celled table">
        <thead>
            <tr>
                <th>Parameter</th>
                <th>Value</th>
            </tr>
        </thead>
        @foreach (var url in ViewBag.Urls)
        {
            <tr>
                <td>@url.Key</td>
                <td>@Html.Raw(url.Value)</td>
            </tr>
        }
    </table>
</div>
</body>
</html>